{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm w-50 mx-auto mt-4">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">{{ title }}</h4>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-3">
                <button type="submit" class="btn btn-success"><i class="bi bi-save"></i> Lưu Dữ Liệu</button>
                <a href="/" class="btn btn-secondary">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
